body {
  background: #faebd7
}
 
h1 {
  text-align: center
}

#titulo. {
heigth=95%
}

p {
    text-align: center;
} 

#missao {
  font-size: 23px
}
   
em strong {
    color: deepskyblue;
}

