body {
  background: #faebd7
}
 
h1 {
  text-align: center
}

#titulo {
width: 1280px;
height: 640px;
}

p {
    text-align: center
} 

pele{
  width: 1280px;
  height: 640px;
}

#missao {
  font-size: 23px
}
   
em strong {
    color: rgb(255, 0, 106);
}

