body {
  background: #faebd7
}
 
h1 {
  text-align: center
}

#make titulo {
imagem1
}

p {
    text-align: center;
} 

#missao {
  font-size: 23px
}
   
em strong {
    color: deepskyblue;
}

